*{
    float:center;
}

a {
    color: #d0eeff;
}

header {
    min-height: 50px;
    background-color: rgb(165, 72, 252);
}

header li {
    list-style: none;
    text-align: center;
    display: block;
    height: 50px;
    transition: background-color .5s ease-in-out;
    line-height: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

header li:hover {
background-color: lightblue;
}

header li a{
display: block;
text-decoration: none;
}

header li:hover a {
    color: rgb(165, 72, 252);
    text-decoration: none;
}

.Index {
    background-color:#DFFFFF;
    color:darkgrey;
    text-align:center;
    display:block;
    list-style:none;
    float:center;
    height:50px;
    color:darkgrey;
}