*{
    margin: 0px;
    border: 0px;
    padding: 0px;

}   



header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: block;
    height: 50px;
    background-color: rgb(183, 0, 255);
}
body {
    background-color: rgb(194, 200, 255);
}

.subheader {
    margin: 0px;
    position: absolute;
    padding: 0px;
    bottom: 0;
    text-align: center;
    display: block;
    height: 50px;
    background-color: rgb(0, 183, 255);
}

.subheader nav {
    
}

a {
    color: teal;
}

header nav li b {
    display: block;
    text-decoration: none;
    color:#ffffff;
}
header nav div {
    width: fit-content;
    height: 50px;
    margin: auto;
}

header nav {
    width: 100%;
    height: 50px;
}

header nav li {
    float: left;
    list-style: none;
    text-align: center;
    min-width: 150px;
    height: 50px;
    line-height: 50px;
    transition: background-color .5s ease;
    padding: 0px 10px 0px 10px;
}

header nav li a:hover {
    background-color: rgb(136, 164, 255);
}

header nav li b:hover {
    background-color: rgb(211, 136, 255);
}
header nav li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.centrado {
    min-width: 75%;
    max-width: 75%;
    margin:auto;
    text-align: center;
}

.espacio {
    margin-top: 50px;
    text-align: center;
    

}