
.subheader {
	text-align:center;
	text-decoration:none;
	color: darkgray;
	display:block; 
}

body {
	background-color:#DFFFFF;
	color:darkgrey;
}

.PC ul li a {
	list-style:none;
	text-decoration:none;
	float:center;
	color:black;

}

a:link
{
	text-decoration:none;
}
.Index {
	text-align: center;
	float:center;
}
ol li {
	list-style-type:none;
	text-decoration:none;
	color:midnightblue;
}
ul li {
	list-style-type:none;
	text-decoration:none;
	color:purple;
}
* li {
		list-style-type:none;
	text-decoration:none;
	color:purple;
}